<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/fd9a0f2dab.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <main class="main">

        <div class="top">
            <article class="descuento">
                <p>Descuentos 20%</p>

            </article>
            <article class="descuento2">
                <h1>Harley Quinn</h1>

            </article>

        </div>

            <section class="target q">

                <div class="caja x">
                    
                    <i class="cr fas fa-heart ccc"></i>
                    <img class="jp j" src="../img/perfil 1.png" alt="">
                    <h2 class="title">Harley Quinn</h2> 
                     <div class="s">
                        <span class="text t">Harley Quinn (nombre real Dra. Harleen Frances Quinzel) es un personaje ficticio creado por los estadounidenses Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su debut en el vigésimo-segundo episodio de Batman: la serie animada, «El favor del Joker», en septiembre de 1992 y se convirtió en una villana recurrente en la serie, posee una excelente agilidad y es rápida peleando, solo es superada por Batman y el Joker. Su agilidad se debe a ser una gimnasta y una acróbata.</span>
                     
                     </div> 
                     <img src="../img/Sin título.png" alt="" class="img2">
                     <form action="../views/main.html" method="GET">
                        <input type="submit" value="Volver" class="volver">
                    </form>
                </div>
                
                
            </section>
           

           

        </div>

        



    </main>
    
    <footer class="footer">
        <span class="tp">Todos los derechos reservados a FRONT END 1</span>
        <img class="img" src="../img/Vector.png" alt="">

    </footer>
    
</body>
</html>