<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/fd9a0f2dab.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <main class="main">

        <div class="top">
            <article class="descuento">
                <p>Descuentos 20% en todos los productos</p>

            </article>
            <article class="descuento2">
                <h1><i class="n fas fa-store"></i>EKN SHOP</h1>

            </article>

        </div>
        <form action="../superheroes/views/main.html" method="POST">
        <div class="login">
            <section class="form">
                <article class="caja2 c">
                    <label>Registro</label>
                    <input type="text" class="email" placeholder="Nombre y Apellido" required>
                    <input type="email" class="email" placeholder="Correo Electronico" required>
                    <input type="password" class="email" placeholder="Contraseña" required>
                    <select name="pais" id="pais" class="email" required>

                        <option value="pais" disabled  selected>select</option>
                        <option value="Arg">Argentina</option>
                        <option value="Col">Colombia</option>
                        <option value="Ecu">Ecuador</option>

                    </select>
                    <article class="botones">
                        <input type="submit" class="enviar b" value="Entrar">
                        <input type="reset" class="reset b" value="Resetear">

                    </article>
                    
                    <a href="../index.html"><span class="i">¿Ya tienes cuenta?<i>&nbsp;Ingresa!</i></span></a>

                </article>

            </section>
        </form>

        </div>

        



    </main>
    
    <footer class="footer">
        <span class="tp">Todos los derechos reservados a FRONT END 1</span>
        <img class="img" src="../img/Vector.png" alt="">

    </footer>
    
</body>
</html>